<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CatlabuhApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\db\CatlabuhDB.db;Version=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <CatlabuhApp.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>uk-UA</value>
      </setting>
      <setting name="CalculationsDirectoryPath" serializeAs="String">
        <value>C:\\Users\\wilkis\\Desktop\\</value>
      </setting>
      <setting name="ChartsImagesDirectoryPath" serializeAs="String">
        <value>C:\\Users\\wilkis\\Desktop\\</value>
      </setting>
      <setting name="ChartsExcelFilesDirectoryPath" serializeAs="String">
        <value>C:\\Users\\wilkis\\Desktop\\</value>
      </setting>
      <setting name="DBPath" serializeAs="String">
        <value>.\db\CatlabuhDB.db</value>
      </setting>
    </CatlabuhApp.Properties.Settings>
  </userSettings>
</configuration>